.loginBg {
    background: url('@/assets/svg/bg.svg');
    background-size: contain;
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

@-webkit-keyframes fadeInRight {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(50%, 0, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
    }
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(50%, 0, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
    }
}

/* animations.css */
.enter {
    transform: translateY(200%);
}

.enter-active {
    transform: translateY(0%);
    transition: all 1s ease;
}

.exit {
    transform: translateY(0%);
}

.exit-active {
    transform: translateY(200%);
    transition: all 1s ease;
}
