@tailwind base;
@tailwind components;
@tailwind utilities;

.physicLight {
  border-radius: 20px;
  background: #ededed;
  box-shadow:
    9px 9px 18px #c9c9c9,
    -9px -9px 18px #ffffff;
}

.physicDark {
  border-radius: 20px;
  background: #2e2e2e;
  box-shadow:
    9px 9px 18px #272727,
    -9px -9px 18px #353535;
}

@layer utilities {
  .tran {
    transition: all 0.2s ease;
  }
}
